html {
  background-color: #272727;
}
h1 {
  text-align: center;
  color: #ffffff;
  font-family: "Trebuchet MS";
}
body {
  text-align: center;
  font-family: "Trebuchet MS";
  color: #ffffff;
}
img {
  padding: 5px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
  color: #ffffff;
}
.footer {
  font-family: "Trebuchet MS";
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0097e6;
  color: #e0fbfc;
  text-align: center;
}
#gform {
  left: 50%;
  top: 43%;
  position: absolute;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
#sform {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

#google {
  position: absolute;
  z-index: 9;
  background-color: #e0fbfc;
  border: 2.5px solid #373f51;
  color: #000000;
  border-radius: 8px;
  opacity: 0.95;
  text-align: center;
  top: 200px;
}
#googleHeader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #eb4d4b;
  color: #dcdde1;
  top: 200px;
}

#twitter {
  position: absolute;
  z-index: 9;
  background-color: #e0fbfc;
  border: 2.5px solid #373f51;
  color: #000000;
  border-radius: 8px;
  opacity: 0.95;
  text-align: center;
  top: 300px;
}
#twitterHeader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #f0932b;
  color: #dcdde1;
  top: 300px;
}

#facebook {
  position: absolute;
  z-index: 9;
  background-color: #e0fbfc;
  border: 2.5px solid #373f51;
  color: #000000;
  border-radius: 8px;
  opacity: 0.95;
  text-align: center;
  top: 400px;
}
#facebookHeader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #30336b;
  color: #dcdde1;
  top: 400px;
}

#reddit {
  position: absolute;
  z-index: 9;
  background-color: #e0fbfc;
  border: 2.5px solid #373f51;
  color: #000000;
  border-radius: 8px;
  opacity: 0.95;
  text-align: center;
  top: 500px;
}
#redditHeader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #4834d4;
  color: #dcdde1;
  top: 500px;
}

#github {
  position: absolute;
  z-index: 9;
  background-color: #e0fbfc;
  border: 2.5px solid #373f51;
  color: #000000;
  border-radius: 8px;
  opacity: 0.95;
  text-align: center;
  top: 600px;
}
#githubHeader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #e056fd;
  color: #dcdde1;
  top: 600px;
}

#canvas {
  position: absolute;
  z-index: 9;
  background-color: #e0fbfc;
  border: 2.5px solid #373f51;
  border-radius: 8px;
  opacity: 0.95;
  color: #000000;
  text-align: center;
  top: 200px;
  left: 175px;
}
#canvasHeader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #6ab04c;
  color: #ffffff;
  top: 200px;
  left: 175px;
}
h4 {
  position: absolute;
  text-align: left;
  right: 70px;
  top: 165px;
}
h3 {
  background-color: #ffd700;
}
.rectangle {
  height: 400px;
  width: 200px;
  background-color: #ffd700;
  position: absolute;
  top: 210px;
  right: 25px;
  border: 2.5px solid #0000;
  border-radius: 8px;
}
.addNew {
  height: 50px;
  width: 50px;
  background-color: #ffd700;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
#addNewButton {
  bottom: 25px;
  height: 40px;
  width: 40px;
  position: relative;
  background: transparent;
  border: none !important;
  font-size: 0;
}
.h-plus {
  position: relative;
  background-color: #ffffff;
  width: 50%;
  height: 12.5%;
  left: 25%;
  top: 43.75%;
}
.v-plus {
  position: relative;
  background-color: #ffffff;
  width: 12.5%;
  height: 50%;
  left: 43.75%;
  top: 12.5%;
}

#done {
  height: 20px;
  width: 60px;
  position: absolute;
  bottom: 80px;
  right: 70px;
}
#reset {
  height: 20px;
  width: 60px;
  position: absolute;
  bottom: 80px;
  right: 130px;
}
#continue {
  height: 20px;
  width: 60px;
  position: absolute;
  bottom: 10px;
  right: 600px;
}
.newAddress {
  position: relative;
  font-family: "Trebuchet MS";
  text-align: left;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5);
}
.mContent {
  background-color: #272727;
  margin: 15% auto;
  padding: 5px;
  border: 2px solid #ffd700;
  width: 12%;
}
.closeModal {
  color: #ffd700;
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
